{% extends 'archive/base.html' %} 
{% load static %}

{% block title %} 

Thesis Archive System - Profile

{% endblock %} 

{% block content %} 

<div class="card">
    <h5 class="card-header">Change Password</h5>
    <div class="card-body">
      <div class="mb-3 col-12 mb-0">
        <div class="alert alert-warning">
          <h6 class="alert-heading fw-bold mb-1">Are you sure you want to change your password?</h6>
        </div>
      </div>
      <form id="formAccountDeactivation" method="post">
        {% csrf_token %}
        <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Old Password</label>
            </div>
            <div class="input-group input-group-merge">
                <input
                type="password"
                id="password"
                class="form-control"
                name="old_password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password"
                />
                <span class="input-group-text cursor-pointer"
                ><i class="bx bx-hide"></i
                ></span>
            </div>
        </div>
        <div class="mb-3 form-password-toggle">
          <div class="d-flex justify-content-between">
              <label class="form-label" for="password">New Password</label>
          </div>
          <div class="input-group input-group-merge">
              <input
              type="password"
              id="password"
              class="form-control"
              name="new_password1"
              placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
              aria-describedby="password"
              />
              <span class="input-group-text cursor-pointer"
              ><i class="bx bx-hide"></i
              ></span>
          </div>
          </div>
          <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Confirm Password</label>
              </div>
              <div class="input-group input-group-merge">
              <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="new_password2"
                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                  aria-describedby="password"
              />
              <span class="input-group-text cursor-pointer"
                  ><i class="bx bx-hide"></i
              ></span>
              </div>
          </div>
        <button type="submit" class="btn btn-danger deactivate-account">Change Password</button>
      </form>
    </div>
  </div>

{% endblock %} 