{% extends 'archive/base.html' %} 
{% load static %}

{% block title %} 

Thesis Archive System - Dashboard

{% endblock %} 

{% block content %} 

<div class="row mb-5">
    <div class="col-md-6 col-lg-4">
        <div class="card text-center mb-3">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}