{% extends 'archive/base.html' %} 
{% load static %}

{% block title %} 

Thesis Archive System - Title Generator

{% endblock %} 

{% block content %} 

<div class="col-md-12">
    <div class="card mb-4">
      <h5 class="card-header">Title Generator</h5>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Categories</label>
          <sub>Seperate the Categories by Comma</sub>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Categories"
            name="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Benificiary</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Benificiary"
            name="benificiaries"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">How Many?</label>
          <input
            type="number"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="How Many?"
            name="generate"
            min="1"
          />
        </div>
        <div class="mb-3">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Generate</button>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="mb-3">
          <ul>

              {% if ai_return %}        
                {% for title in ai_return %}
                  <li><h3>{{ title }}</h3></li>
                {% endfor %}
              {% endif %}
          </ul>
        </div>
        
      </div>
    </form>
    </div>
  </div>

{% endblock %}