{% extends 'archive/base.html' %} 
{% load static %}

{% block title %} 

Thesis Archive System - Upload

{% endblock %} 

{% block content %} 

<div class="col-md-12">
    <div class="card mb-4">
      <h5 class="card-header">Upload Thesis</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
            name="title"
          />
        </div>
        <div class="mb-3">
            <label class="form-label">Author's</label>
            <input
              type="text"
              class="form-control"
              placeholder="Author's Name"
              name="title"
              style="margin-bottom: 5px;"
            />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="title"
            style="margin-bottom: 5px;"
             />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="title"
            style="margin-bottom: 5px;"
            />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="title"
            style="margin-bottom: 5px;"
            />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="title"
            style="margin-bottom: 5px;"
            />
        </div>
        <div>
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>

{% endblock %}