{% extends 'archive/base.html' %} 
{% load static %}

{% block title %} 

Thesis Archive System - Upload

{% endblock %} 

{% block content %} 

<div class="col-md-12">
    <div class="card mb-4">
      <h5 class="card-header">Upload Thesis</h5>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Title"
            name="title"
            required
          />
        </div>
        <div class="mb-3">
            <label class="form-label">Author's</label>
            <input
              type="text"
              class="form-control"
              placeholder="Author's Name"
              name="author"
              style="margin-bottom: 5px;"
              required
            />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="author1"
            style="margin-bottom: 5px;"
            required
             />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="author2"
            style="margin-bottom: 5px;"
            required
            />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="author3"
            style="margin-bottom: 5px;"
            required
            />
            <input
            type="text"
            class="form-control"
            placeholder="Author's Name"
            name="author4"
            style="margin-bottom: 5px;"
            />
        </div>
          <div class="mb-3 row">
            <label for="html5-month-input" class="col-md-2 col-form-label">Month</label>
            <div class="col-md-10">
              <input class="form-control" type="month" value="2024-04" id="html5-month-input" name="date_finished" required />
            </div>
          </div>
        <div>
          <label for="exampleFormControlTextarea1" class="form-label">Abstract</label>
          <textarea class="form-control" name="abstract" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload Capstone PDF</label>
          <input class="form-control" type="file" id="formFile" name="file_thesis" required />
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload Capstone Cover</label>
          <input class="form-control" type="file" id="formFile" name="thesis_cover" required />
        </div>
        <div class="mb-3">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>

{% endblock %}